{
    "notifications": {
        "lowest_spawn_rate": 50,
        "ignored_pokemon_ids": [14,20,29,32,43,54,60,69,86,73,120],
        "extra_pokemon_ids": [23]
    },

    "home": {
        "latitude": 37.331686,
        "longitude": -122.030656,
        "bounds": {
            "use_bounds": false,
            "SW": {
                "latitude": 37.330447,
                "longitude": -122.030736
            },
            "NE": {
                "latitude": 37.333424,
                "longitude": -122.028644
            }
        }
    },

    "ifttt": {
        "maker_channel_key": "YOUR_MAKER_CHANNEL_KEY",
        "maker_channel_event": "pokemon_found"
    },

    "redis": {
        "server_url": "redis://localhost:6379/",
        "cache_timeout": 1800
    },

    "pokemon": {
        "json_file": "pokemon.json"
    }
}